encryption = "age"
[age]
identity = "{{ .chezmoi.homeDir }}/.config/age/chezmoi.key"
recipients = [
  "age1kgtfylpyecwy28svj5gkgpt5mxva4l5eypt8dswutxtec7e59qvsj6xtzv",
  "age1qyheg2r82v0g7p5j28flggwg930yfur0mq3y7lv2j3j4tglz5emsnk8ygz",
]

[edit]
command = "nvim"

{{- $packageGroupChoices := list "ai" "k8s" "iac" "cloud" }}
{{- $packageGroups := promptMultichoice "What package groups do you want to install" $packageGroupChoices }}
[data]
packageGroups = {{ $packageGroups | toToml }}
