encryption = "age"
[age]
identity = "{{ .chezmoi.homeDir }}/.config/age/chezmoi.key"
recipients = [
  "age1kgtfylpyecwy28svj5gkgpt5mxva4l5eypt8dswutxtec7e59qvsj6xtzv",
  "age19wjw7ffy5g7lt4wdhl53svm9755gfwhr7rfgcdewacdhn54mrdnqkk2ut3",
]

[edit]
command = "nvim"

{{- $packageGroupChoices := list "ai" "k8s" "iac" "cloud" }}
{{- $packageGroups := promptMultichoice "What package groups do you want to install" $packageGroupChoices }}
[data]
packageGroups = {{ $packageGroups | toToml }}
