encryption = "age"
[age]
identity = "{{ .chezmoi.homeDir }}/.config/age/chezmoi.key"
recipients = []

[edit]
command = "nvim"

{{- $packageGroupChoices := list "ai" "k8s" "iac" "cloud" }}
{{- $packageGroups := promptMultichoice "What package groups do you want to install" $packageGroupChoices }}
[data]
packageGroups = {{ $packageGroups | toToml }}
